@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
#navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background-color: #FEF6ED;
  border-bottom: 1px solid #2f2d2d;
}

#navbar .navbar {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .navbar .logo {
  color: #2f2d2d;
}

#navbar .navbar .nav_links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .navbar .nav_links li {
  list-style: none;
  -webkit-transition: .2s;
  transition: .2s;
}

#navbar .navbar .nav_links li:hover {
  font-size: 3em;
}

#navbar .navbar .nav_links li a {
  text-decoration: none;
  color: #2f2d2d;
  text-transform: uppercase;
  font-family: "Lexend Tera", sans-serif;
}

@media screen and (max-width: 1580px) {
  #navbar .navbar {
    width: 90%;
  }
  #navbar .navbar .nav_links li:hover {
    font-size: 2em;
  }
}

@media screen and (max-width: 1120px) {
  #navbar .navbar {
    width: 90%;
  }
  #navbar .navbar .nav_links li {
    font-size: .8em;
  }
  #navbar .navbar .nav_links li:hover {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 900px) {
  #navbar .navbar {
    width: 90%;
  }
  #navbar .navbar .logo {
    -webkit-transition: .2s;
    transition: .2s;
    display: none;
  }
  #navbar .navbar .nav_links {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #navbar .navbar {
    width: 90%;
  }
  #navbar .navbar .logo {
    -webkit-transition: .2s;
    transition: .2s;
    display: none;
  }
  #navbar .navbar .nav_links {
    width: 100%;
  }
  #navbar .navbar .nav_links li {
    font-size: .6em;
  }
  #navbar .navbar .nav_links li:hover {
    font-size: 1em;
  }
}

#footer {
  border-top: 1px solid #2f2d2d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#footer .footer {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer .footer_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 250px;
  height: 90%;
  font-family: "Lexend Tera", sans-serif;
  font-size: .6em;
  color: #2f2d2d;
}

#footer .footer .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 90%;
  width: 250px;
  color: #2f2d2d;
}

@media screen and (max-width: 500px) {
  #footer .footer {
    width: 90%;
  }
  #footer .footer .footer_logo {
    width: 150px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FEF6ED;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: grey;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f2d2d;
}

#page_container {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page_container .main_wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 900px;
  width: 100%;
}

#page_container .main_wrapper .slider {
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container .main_wrapper #servicios {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper #productos {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

#page_container .main_wrapper #contacto {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper .banner {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page_container .main_wrapper .banner .informacion {
  height: 80%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container .main_wrapper .banner .informacion .titulo {
  font-family: "Lexend Tera", sans-serif;
  font-size: 3em;
}

#page_container .main_wrapper .banner .informacion .descripcion {
  font-family: "Lexend Tera", sans-serif;
}

#page_container .main_wrapper .banner .link {
  height: 50%;
  width: 20%;
}

#page_container .main_wrapper .banner .link a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

#page_container .main_wrapper .banner .link a .boton {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Lexend Tera", sans-serif;
  font-size: 1.2em;
}

#page_container .main_wrapper .banner .link a #boton_servicios {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

#page_container .main_wrapper .banner .link a #boton_productos {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper .banner .link a #boton_contacto {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

@media screen and (max-width: 1200px) {
  #page_container .main_wrapper .banner .informacion {
    width: 50%;
  }
  #page_container .main_wrapper .banner .informacion .titulo {
    font-size: 2.5em;
  }
  #page_container .main_wrapper .banner .informacion .descripcion {
    font-size: .9em;
  }
  #page_container .main_wrapper .banner .link {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  #page_container .main_wrapper .banner {
    height: 200px;
  }
  #page_container .main_wrapper .banner .informacion {
    width: 50%;
  }
  #page_container .main_wrapper .banner .informacion .titulo {
    font-size: 2em;
  }
  #page_container .main_wrapper .banner .informacion .descripcion {
    font-size: .8em;
  }
  #page_container .main_wrapper .banner .link {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  #page_container .main_wrapper .banner .informacion {
    width: 50%;
  }
  #page_container .main_wrapper .banner .informacion .titulo {
    font-size: 1.2em;
  }
  #page_container .main_wrapper .banner .informacion .descripcion {
    font-size: .5em;
  }
  #page_container .main_wrapper .banner .link {
    width: 40%;
  }
  #page_container .main_wrapper .banner .link a .boton {
    font-size: .9em;
  }
}

#page_container #productos_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#page_container #productos_wrapper .productos {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  font-size: 6em;
}

#page_container #servicios_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#page_container #servicios_wrapper .titulo_servicios {
  padding-top: 50px;
  width: 80%;
  text-align: center;
  font-family: "Lexend Tera", sans-serif;
  font-size: 5em;
  color: #2f2d2d;
}

#page_container #servicios_wrapper .servicios {
  width: 80%;
  min-height: 400px;
  margin-top: 75px;
  margin-bottom: 20px;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios .text {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 50px 0;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios .text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios .text h1 {
  font-family: "Lexend Tera", sans-serif;
  font-size: 3em;
  color: #2f2d2d;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios .imagen {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  border-radius: 10px;
}

#page_container #servicios_wrapper .servicios .descripcion_servicios .imagen img {
  width: 100%;
}

#page_container #servicios_wrapper #insumos {
  padding-bottom: 50px;
}

#page_container .penta_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  margin: 0px 0 25px 0;
  background-color: #2f2d2d;
}

#page_container .penta_container .penta {
  width: 80%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: #FEF6ED;
}

#page_container .penta_container .penta .descripcion_penta {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container .penta_container .penta .descripcion_penta h2 {
  font-family: "Lexend Tera", sans-serif;
}

#page_container .penta_container .penta .descripcion_penta p {
  font-family: "Lexend Tera", sans-serif;
  font-size: .8em;
}

#page_container .penta_container .penta .descripcion_penta a {
  font-family: "Lexend Tera", sans-serif;
  margin-top: 10px;
  color: #2f2d2d;
}

#page_container .penta_container .penta .logo_penta {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1580px) {
  #page_container #servicios_wrapper .servicios {
    width: 90%;
  }
}

#page_container #contacto_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f2d2d;
  min-height: 1000px;
}

#page_container #contacto_wrapper .contacto {
  width: 80%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container #contacto_wrapper .contacto .mapa {
  height: 100%;
  width: 50%;
  border-radius: 10px 0 0 10px;
  background-color: #FEF6ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container #contacto_wrapper .contacto .mapa .mapouter {
  width: 100%;
  height: 100%;
}

#page_container #contacto_wrapper .contacto .mapa .mapouter .gmap_canvas {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

#page_container #contacto_wrapper .contacto .mapa .mapouter .gmap_canvas iframe {
  width: 100%;
  height: 100%;
}

#page_container #contacto_wrapper .contacto .datos_contacto {
  height: 100%;
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#page_container #contacto_wrapper .contacto .datos_contacto .redes_sociales a i {
  color: #2f2d2d;
  font-size: 2em;
  margin-right: 20px;
}

@media screen and (max-width: 1580px) {
  #page_container #contacto_wrapper .contacto {
    width: 90%;
  }
}

@media screen and (max-width: 1355px) {
  #page_container #contacto_wrapper .contacto .datos_contacto {
    font-size: .8em;
  }
}

@media screen and (max-width: 1110px) {
  #page_container #contacto_wrapper .contacto .datos_contacto {
    font-size: .6em;
  }
}

@media screen and (max-width: 1110px) {
  #page_container #contacto_wrapper .contacto .mapa {
    display: none;
  }
  #page_container #contacto_wrapper .contacto .datos_contacto {
    border-radius: 10px;
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (max-width: 690px) {
  #page_container #contacto_wrapper .contacto .mapa {
    display: none;
  }
  #page_container #contacto_wrapper .contacto .datos_contacto {
    font-size: .6em;
  }
}

@media screen and (max-width: 500px) {
  #page_container #contacto_wrapper {
    min-height: 100vh;
  }
  #page_container #contacto_wrapper .contacto {
    height: 300px;
  }
  #page_container #contacto_wrapper .contacto .mapa {
    display: none;
  }
  #page_container #contacto_wrapper .contacto .datos_contacto {
    font-size: .4em;
  }
}
/*# sourceMappingURL=style.css.map */