@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
#navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background-color: #FEF6ED;
  border-bottom: 1px solid #2f2d2d;
}

#navbar .navbar {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .navbar .logo {
  color: #2f2d2d;
}

#navbar .navbar .nav_links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar .navbar .nav_links li {
  list-style: none;
}

#navbar .navbar .nav_links li a {
  text-decoration: none;
  color: #2f2d2d;
  text-transform: uppercase;
  font-family: "Lexend Tera", sans-serif;
}

#footer {
  border-top: 1px solid #2f2d2d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#footer .footer {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer .footer_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 250px;
  height: 90%;
  font-family: "Lexend Tera", sans-serif;
  font-size: .6em;
  color: #2f2d2d;
}

#footer .footer .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 90%;
  width: 250px;
  color: #2f2d2d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FEF6ED;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: grey;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f2d2d;
}

#page_container {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page_container .main_wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 900px;
  width: 100%;
}

#page_container .main_wrapper .slider {
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lexend Tera", sans-serif;
  font-size: 10em;
}

#page_container .main_wrapper #servicios {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper #productos {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

#page_container .main_wrapper #contacto {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper .banner {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page_container .main_wrapper .banner .informacion {
  height: 80%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page_container .main_wrapper .banner .informacion .titulo {
  font-family: "Lexend Tera", sans-serif;
  font-size: 3em;
}

#page_container .main_wrapper .banner .informacion .descripcion {
  font-family: "Lexend Tera", sans-serif;
}

#page_container .main_wrapper .banner .link {
  height: 50%;
  width: 20%;
}

#page_container .main_wrapper .banner .link a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

#page_container .main_wrapper .banner .link a .boton {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Lexend Tera", sans-serif;
  font-size: 1.2em;
}

#page_container .main_wrapper .banner .link a #boton_servicios {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

#page_container .main_wrapper .banner .link a #boton_productos {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#page_container .main_wrapper .banner .link a #boton_contacto {
  background-color: #FEF6ED;
  color: #2f2d2d;
}

#page_container #productos_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#page_container #productos_wrapper .productos {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  font-size: 6em;
}

#page_container #contacto_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f2d2d;
}

#page_container #contacto_wrapper .contacto {
  width: 80%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page_container #contacto_wrapper .contacto .mapa {
  height: 100%;
  width: 50%;
  border-radius: 10px 0 0 10px;
  background-color: #FEF6ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lexend Tera", sans-serif;
  font-size: 4em;
  color: #2f2d2d;
}

#page_container #contacto_wrapper .contacto .datos_contacto {
  height: 100%;
  width: 50%;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF6ED;
}

#page_container #contacto_wrapper .contacto .datos_contacto .redes_sociales a i {
  color: #2f2d2d;
  font-size: 2em;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */