//VARIABLES

//COLORS
$color-1: #2f2d2d;
$color-2: #FEF6ED;
$color-3: white;
$color-4: #FEF2D4;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

//FONT SIZE

//PADDING
$padding-top: 100px;
$padding-bottom: 100px;

//OTHER

//STYLES

#page_container {
    #contacto_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-1;
        .contacto {
            width: 80%;
            height: 500px;
            display: flex;            
            .mapa {
                height: 100%;
                width: 50%;
                border-radius: 10px 0 0 10px;
                background-color: $color-2;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-1;
                font-size: 4em;
                color: $color-1;
            }
            .datos_contacto {
                height: 100%;
                width: 50%;
                border-radius: 0 10px 10px 0;
                padding: 10px;
                color: $color-1;
                font-family: $font-1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                background-color: $color-2;
                .redes_sociales {
                    a {
                        i{
                            color: $color-1;
                            font-size: 2em;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
    
}
