//VARIABLES

//COLORS
$color-2: #2f2d2d;
$color-1: #FBF8F4;
$color-3: #FBF8F4;
$color-4: #FEF2D4;
$color-5: #F2922E;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
$font-2: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
$font-4: 'PT Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
$font-3: 'Prompt', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-5: 'Mulish', sans-serif;

//FONT SIZE

//PADDING
$padding-top: 100px;
$padding-bottom: 100px;

//OTHER

//STYLES

#page_container {
    min-height: 100vh;
    width: 100%;
    background-color: $color-1;
    #mobiline_wrapper {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: flex-start;
        min-height: 100vh;
        width: 1400px;
        .titulo_container {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 300px;
                }
            }
            .descripcion {
                padding: 0 20px 0 20px;
                display: flex;
                align-items: center;
                width: 50%;
                 height: 100%;
                p {
                    font-family: $font-5;
                }
            }
        }
        .galeria_container {
            width: 1400px;
            padding-top: 25px;
            padding-bottom: 25px;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;            
            .img_container {
                width: 90%;
                border-radius: 5px;
                img {
                    width: 100%;
                    border-radius: 5px;
                }
                
            }
        }
        .contenido_container {
            width: 100vw;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            margin-bottom: 25px;
            .contenido_content {
                width: 1400px;
                height: 100%;
                .titulo_dlc {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    h1 {
                        color: $color-2;
                        font-family: $font-1;
                    }
                }
                .contenido_dlc {
                    width: 1400px;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    .box_catalogo {
                        border-radius: 10px;
                        width: 250px;
                        height: 300px;
                        box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        img {
                            width: 110%;
                        }
                    }
                }
            }
        }
        .presupuesto_container {
            background-color: $color-2;
            width: 100vw;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .presupuesto {
                width: 1400px;
                height: 100%;
                display: flex;
                align-items: center;
                h1 {
                    font-family: $font-1;
                    color: $color-1;
                    font-size: 2.4em;
                }
            }
        }
    }
}

@media screen and (max-width: 1450px) {
    #page_container {
        #mobiline_wrapper {
            width: 1200px;
            .titulo_container {
                .logo {
                    img {
                    }
                }
                .descripcion {
                    p {
                    }
                }
            }
            .galeria_container {
                width: 1200px;
                .img_container {
                    img {
                    }
                }
            }
            .contenido_container {
                .contenido_content {
                    width: 1200px;
                    .titulo_dlc {
                        h1 {
                        }
                    }
                    .contenido_dlc {
                        .box_catalogo {
                            img {
                            }
                        }
                    }
                }
            }
            .presupuesto_container {
                .presupuesto {
                    width: 1200px;
                    h1 {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1230px) {
    #page_container {
        #mobiline_wrapper {
            width: 1000px;
            .titulo_container {
                .logo {
                    img {
                    }
                }
                .descripcion {
                    p {
                        font-size: .9em;
                    }
                }
            }
            .galeria_container {
                width: 1000px;
                .img_container {
                    img {
                    }
                }
            }
            .contenido_container {
                .contenido_content {
                    width: 1000px;
                    .titulo_dlc {
                        h1 {
                        }
                    }
                    .contenido_dlc {
                        .box_catalogo {
                            img {
                            }
                        }
                    }
                }
            }
            .presupuesto_container {
                .presupuesto {
                    width: 1000px;
                    h1 {
                        font-size: 1.7em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    #page_container {
        #mobiline_wrapper {
            width: 800px;
            .titulo_container {
                .logo {
                    img {
                    }
                }
                .descripcion {
                    p {
                        font-size: .8em;
                    }
                }
            }
            .galeria_container {
                width: 800px;
                .img_container {
                    img {
                    }
                }
            }
            .contenido_container {
                .contenido_content {
                    width: 800px;
                    .titulo_dlc {
                        h1 {
                        }
                    }
                    .contenido_dlc {
                        .box_catalogo {
                            img {
                            }
                        }
                    }
                }
            }
            .presupuesto_container {
                .presupuesto {
                    width: 800px;
                    h1 {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    #page_container {
        #mobiline_wrapper {
            width: 600px;
            .titulo_container {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .logo {
                    width: 100%;
                    img {
                    }
                }
                .descripcion {
                    width: 100%;
                    p {
                    }
                }
            }
            .galeria_container {
                width: 600px;
                grid-template-columns: 1fr;
                .img_container {
                    img {
                    }
                }
            }
            .contenido_container {
                .contenido_content {
                    width: 600px;
                    .titulo_dlc {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h1 {
                            font-size: 1.5em;
                            text-align: center;
                        }
                    }
                    .contenido_dlc {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .box_catalogo {
                            img {
                            }
                        }
                    }
                }
            }
            .presupuesto_container {
                height: 150px;
                .presupuesto {
                    width: 600px;
                    h1 {
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    #page_container {
        #mobiline_wrapper {
            width: 400px;
            .titulo_container {
                .logo {
                    img {
                    }
                }
                .descripcion {
                    p {
                        font-size: .7em;
                        text-align: center;
                    }
                }
            }
            .galeria_container {
                width: 400px;
                grid-template-columns: 1fr;
                .img_container {
                    img {
                    }
                }
            }
            .contenido_container {
                width: 100%;
                .contenido_content {
                    width: 400px;
                    .titulo_dlc {
                        h1 {
                            font-size: 1.1em;
                        }
                    }
                    .contenido_dlc {
                        .box_catalogo {
                            img {
                            }
                        }
                    }
                }
            }
            .presupuesto_container {
                height: 150px;
                .presupuesto {
                    width: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
            }
        }
    }
}