//VARIABLES

//COLORS
$color-2: #2f2d2d;
$color-1: #FBF8F4;
$color-3: white;
$color-4: #FEF2D4;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-2: 'Mulish', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600&display=swap');
$font-3: 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@500;600&display=swap');
$font-4: 'Enriqueta', serif;

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&display=swap');
$font-5: 'Rokkitt', serif;

//FONT SIZE

//PADDING
$padding-top: 100px;
$padding-bottom: 100px;

//OTHER

//STYLES

.productos_container {
    background-color: $color-1;
}

#page_container {
    min-height: 100vh;
    width: 100%;
    #productos_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $color-1;
        min-height: 100vh;
        width: 1600px;
        .productos_titulo {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            h1 {
                text-align: center;
                font-family: $font-1;
                color: $color-2;
                font-size: 2.5em;
            }
        }
        .productos_descripcion {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
                font-family: $font-2;
                color: $color-2;
                font-size: 1.2em;
                text-align: center;
            }
        }
        .proveedores_boxes {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            place-items: center;
            margin-bottom: 50px;
            margin-top: 25px;
            .box {
                border-radius: 10px;
                height: 350px;
                width: 270px;
                transition: .2s;
                background-color: $color-1;
                box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.3);
                &:hover {
                    transform: scale(1.1);
                }
                .logo {
                    height: 40%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    #logo_protex {
                        width: 200px;
                    }
                    #logo_kaiken {
                        width: 200px;
                    }
                    #logo_yeso {
                        width: 200px;
                    }
                }
                .proveedores_descripcion {
                    height: 30%;
                    width: 100%;
                    font-family: $font-2;
                    font-size: .9em;
                    text-align: center;
                    padding: 0 10px 0 10px;
                }
                .link {
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        color: $color-2;
                        font-family: $font-2;
                        font-size: 1.2em;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    #page_container {
        #productos_wrapper {            
            width: 1400px;
            .productos_titulo {
                margin-top: 20px;
                h1 {
                }
            }
            .productos_descripcion {
                h2 {
                }
            }
            .proveedores_boxes {
                .box {
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    #page_container {
        #productos_wrapper {            
            width: 1200px;
            .productos_titulo {
                h1 {
                }
            }
            .productos_descripcion {
                h2 {
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(4, 1fr);
                row-gap: 20px;
                .box {
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1210px) {
    #page_container {
        #productos_wrapper {            
            width: 1000px;
            .productos_titulo {
                h1 {
                    font-size: 2em;
                }
            }
            .productos_descripcion {
                h2 {
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(3, 1fr);
                row-gap: 20px;
                .box {
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 990px) {
    #page_container {
        #productos_wrapper {            
            width: 800px;
            .productos_titulo {
                h1 {
                    font-size: 1.8em;
                }
            }
            .productos_descripcion {
                h2 {
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 20px;
                .box {
                    width: 90%;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 820px) {
    #page_container {
        #productos_wrapper {            
            width: 600px;
            .productos_titulo {
                margin-top: 20px;
                h1 {
                    font-size: 1.8em;
                }
            }
            .productos_descripcion {
                h2 {
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 20px;
                .box {
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 620px) {
    #page_container {
        #productos_wrapper {            
            width: 450px;
            .productos_titulo {
                margin-top: none;
                width: 100%;
                h1 {
                    font-size: 1.5em;
                }
            }
            .productos_descripcion {
                width: 100%;
                h2 {
                    font-size: 1em;
                    font-weight: 400;
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;
                .box {
                    width: 90%;
                    height: 250px;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        height: 50%;
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        height: 20%;
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    #page_container {
        #productos_wrapper {
            width: 400px;
            .productos_titulo {
                margin-top: none;
                width: 90%;
                h1 {
                    font-size: 1.5em;
                }
            }
            .productos_descripcion {
                width: 90%;
                h2 {
                    font-size: 1em;
                    font-weight: 400;
                }
            }
            .proveedores_boxes {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;
                .box {
                    width: 80%;
                    height: 250px;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .logo {
                        height: 50%;
                        #logo_protex {
                        }
                        #logo_kaiken {
                        }
                        #logo_yeso {
                        }
                    }
                    .proveedores_descripcion {
                    }
                    .link {
                        height: 20%;
                        a {
                        }
                    }
                }
            }
        }
    }
}