//VARIABLES

//COLORS
$color-2: #2f2d2d;
$color-1: #FEF6ED;
$color-3: white;
$color-4: #FEF2D4;
$color-5: #F2922E;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
$font-2: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
$font-4: 'PT Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
$font-3: 'Prompt', sans-serif;

//FONT SIZE

//PADDING
$padding-top: 100px;
$padding-bottom: 100px;

//OTHER

//STYLES

#page_container {
    #servicios_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-2;
        min-height: 100vh;
        .titulo {
            height: 250px;
            width: 1200px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            h1 {
                text-align: center;
                color: $color-3;
                font-family: $font-1;
                text-transform: uppercase;
                font-size: 3em;
            }
        }
        .servicio {
            width: 1200px;
            height: 300px;
            border: 2px solid $color-3;
            margin-top: 10px;
            h1 {
                height: 20%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $color-3;
                font-family: 'Lexend Tera', sans-serif;
            }
            .servicio_descripcion {
                display: flex;
                height: 80%;
                .desc {
                    width: 50%;
                    height: 100%;
                    border-top: 2px solid $color-3;
                    border-right: 2px solid $color-3;
                    color: $color-3;
                    font-family: $font-3;
                    display: flex;
                    align-items: center;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .svg {
                    width: 50%;
                    height: 100%;
                    border-top: 2px solid $color-3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .svg_container {
                        width: 90%;
                        height: 90%;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .servicios_1_svg {
                            width: 350px;
                        }
                    }
                }
            }
        }
        #servicio_2 {
            width: 1200px;
            height: 350px;
            border: 2px solid $color-3;
            margin-top: 10px;
            h1 {
                height: 20%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $color-3;
                font-family: 'Lexend Tera', sans-serif;
            }
            .servicio_descripcion {
                display: flex;
                height: 80%;
                .desc {
                    width: 100%;
                    height: 100%;
                    border-top: 2px solid $color-3;
                    border-right: none;
                    color: $color-3;
                    font-family: $font-3;
                    display: flex;
                    align-items: center;
                    padding-left: 5px;
                    padding-right: 5px;
                    text-align: center;
                    .servicio_2_desc {
                        font-size: 2em;
                    }
                }
            }
        }
        .proveedores {
            width: 1200px;
            height: 150px;
            border: 2px solid $color-3;
            border-top: none;
            margin-bottom: 10px;
            display: flex;
            .textos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 75%;
                border-right: none;
                color: $color-3;
                .titulo_penta {
                    font-family: $font-1;
                }
                .info_penta {
                    font-family: $font-3;
                }
                a {
                    font-family: $font-3;
                    color: $color-3;
                    text-decoration: none;
                    margin-top: 5px;
                }
            }
            .logo_penta {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                #logo_penta {
                    width: 200px;
                }
                #logo_protex {
                    width: 200px;
                }            
            }
            
        }
        #penta {
            margin-bottom: 50px;
        }
        #protex {
            border-top: none;
            margin-bottom: 0;
            .textos {
                align-items: flex-start;
                justify-content: center;
            }
        }
        #mobiline {
            margin-bottom: 0;
            .textos {
                align-items: flex-start;
                justify-content: center;
            }
        }
        #carpincruz {
            margin-bottom: 0;
            .textos {
                align-items: flex-start;
                justify-content: center;
            }
        }
        #yeso {
            margin-bottom: 50px;
            .logo_penta {
                background-color: white;
            }
            .textos {
                align-items: flex-start;
                justify-content: center;
            }
        }
    }
}


@media screen and (max-width: 1240px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 250px;
                width: 1000px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    color: $color-3;                    
                    text-transform: uppercase;
                    font-size: 3em;
                }
            }
            .servicio {
                width: 1000px;
                height: 300px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 50%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: 2px solid $color-3;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    .svg {
                        width: 50%;
                        height: 240px;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            #servicio_2 {
                width: 1000px;
                height: 300px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        .servicio_2_desc {
                            font-size: 1.5em;
                        }
                    }
                }
            }
            .proveedores {
                width: 1000px;
                height: 150px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 75%;
                    color: $color-3;
                    .titulo_penta {
                        font-size: 1.5em;
                    }
                    .info_penta {
                        font-size: .8em;
                    }
                }
            }
            #protex {
                border-top: none;
                margin-bottom: 0;
            }
            #mobiline {
                margin-bottom: 0;
            }
            #carpincruz {
                margin-bottom: 0;
            }
            #yeso {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 250px;
                width: 800px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    color: $color-3;
                    text-transform: uppercase;
                    font-size: 2em;
                }
            }
            .servicio {
                width: 800px;
                height: 300px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                }
                .servicio_descripcion {
                    display: flex;
                    .desc {
                        width: 50%;
                        height: 238px;
                        border-top: 2px solid $color-3;
                        border-right: 2px solid $color-3;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    .svg {
                        width: 50%;
                        height: 240px;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            #servicio_2 {
                width: 800px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            .proveedores {
                width: 800px;
                height: 150px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 60%;
                    color: $color-3;
                    .titulo_penta {
                    }
                    .info_penta {
                    }
                }
                .logo_penta {
                    width: 40%;
                    #logo_penta {
                        
                    }
                }
            }

            #protex {
                border-top: none;
                margin-bottom: 0;
                .textos {
                    width: 60%;
                }
                .logo_penta {
                    width: 40%;
                }
            }
            #mobiline {
                margin-bottom: 0;
                .textos {
                    width: 60%;
                }
                .logo_penta {
                    width: 40%;
                }
            }
            #carpincruz {
                margin-bottom: 0;
                .textos {
                    width: 60%;
                }
                .logo_penta {
                    width: 40%;
                }
            }
            #yeso {
                margin-bottom: 50px;
                .textos {
                    width: 60%;
                }
                .logo_penta {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 150px;
                width: 600px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    color: $color-3;
                    text-transform: uppercase;
                    font-size: 2em;
                }
            }
            .servicio {
                width: 600px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-size: 1.5em;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 50%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: 2px solid $color-3;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: .8em;
                    }
                    .svg {
                        width: 50%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .svg_container {
                            width: 90%;
                            height: 90%;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg {
                                width: 250px;
                            }
                            #carro {
                                width: 200px;
                            }
                        }
                    }
                }
            }
            #servicio_2 {
                width: 600px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            .proveedores {
                width: 600px;
                height: 120px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $color-3;
                    .titulo_penta {
                        font-size: 1em;
                    }
                    .info_penta {
                        font-size: .7em;
                    }
                }
            }
            #protex {
                border-top: none;
                margin-bottom: 0;
            }
            #mobiline {
                margin-bottom: 0;
            }
            #carpincruz {
                margin-bottom: 0;
            }
            #yeso {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 150px;
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    color: $color-3;
                    text-transform: uppercase;
                    font-size: 1.8em;
                }
            }
            .servicio {
                width: 500px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-size: 1.5em;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 70%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 1em;
                    }
                    .svg {
                        width: 50%;
                        height: 240px;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: none;
                    }
                }
            }
            #servicio_2 {
                width: 500px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        .servicio_2_desc {
                            font-size: 1em;
                        }
                    }
                }
            }
            .proveedores {
                width: 500px;
                height: 150px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $color-3;
                    .titulo_penta {
                        font-size: .9em;
                    }
                    .info_penta {
                        font-size: .8em;
                    }
                }
                .logo_penta {
                    width: 50%;
                }
            }
            #protex {
                border-top: none;
                margin-bottom: 0;
                .textos {
                    width: 50%;
                }
                .logo_penta {
                    width: 50%;
                }
            }
            #mobiline {
                margin-bottom: 0;
                .textos {
                    width: 50%;
                }
                .logo_penta {
                    width: 50%;
                }
            }
            #carpincruz {
                margin-bottom: 0;
                .textos {
                    width: 50%;
                }
                .logo_penta {
                    width: 50%;
                }
            }
            #yeso {
                margin-bottom: 50px;
                .textos {
                    width: 50%;
                }
                .logo_penta {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 150px;
                width: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    color: $color-3;
                    text-transform: uppercase;
                    font-size: 1.8em;
                }
            }
            .servicio {
                width: 400px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-size: 1.5em;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 70%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: .8em;
                    }
                    .svg {
                        width: 30%;
                        height: 240px;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: none;
                    }
                }
            }
            #servicio_2 {
                width: 400px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-family: 'Lexend Tera', sans-serif;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            .proveedores {
                width: 400px;
                height: 150px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;                    
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $color-3;
                    .titulo_penta {
                        font-size: .6em;
                    }
                    .info_penta {
                        font-size: .5em;
                    }
                    a {
                        font-family: $font-3;
                        color: $color-3;
                        text-decoration: none;
                        margin-top: 5px;
                    }
                }
                .logo_penta {
                    img {
                        transform: scale(.8);
                    }
                }
            }
            #protex {
                border-top: none;
                margin-bottom: 0;
                .textos {                    
                }
                .logo_penta{
                    img {
                        transform: scale(.8);
                    }
                }
            }
            #mobiline {
                margin-bottom: 0;
                .logo_penta{
                    img {
                        transform: scale(.8);
                    }
                }
            }
            #carpincruz {
                margin-bottom: 0;
                .logo_penta{
                    img {
                        transform: scale(.8);
                    }
                }
            }
            #yeso {
                margin-bottom: 50px;
                .logo_penta{
                    img {
                        transform: scale(.8);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #page_container {
        #servicios_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-2;
            min-height: 100vh;
            .titulo {
                height: 150px;
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: none;
                h1 {
                    text-align: center;
                    color: $color-3;
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
            }
            .servicio {
                width: 350px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-3;
                    font-size: 1.5em;
                }
                .servicio_descripcion {
                    display: flex;
                    height: 70%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: .8em;
                    }
                    .svg {
                        width: 30%;
                        height: 240px;
                        border-top: 2px solid $color-3;
                        padding-left: 5px;
                        padding-right: 5px;
                        display: none;
                    }
                }
            }
            #servicio_2 {
                width: 350px;
                height: 200px;
                border: 2px solid $color-3;
                margin-top: 10px;
                h1 {
                    height: 20%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: $color-2;
                    font-family: 'Lexend Tera', sans-serif;
                    
                }
                .servicio_descripcion {
                    display: flex;
                    height: 80%;
                    .desc {
                        width: 100%;
                        height: 100%;
                        border-top: 2px solid $color-3;
                        border-right: none;
                        color: $color-3;
                        font-family: $font-3;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        .servicio_2_desc {
                            font-size: 1em;                            
                        }
                    }
                }
            }
            .proveedores {
                width: 350px;
                height: 150px;
                border: 2px solid $color-3;
                border-top: none;
                margin-bottom: 10px;
                display: flex;
                .textos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;                    
                    height: 100%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    color: $color-3;
                    .titulo_penta {
                        font-size: .8em;
                    }
                    .info_penta {
                        font-size: .6em;
                    }
                    a {
                        font-family: $font-3;
                        color: $color-3;
                        text-decoration: none;
                        margin-top: 5px;
                    }
                }
            }
            #protex {
                border-top: none;
                margin-bottom: 0;
                .logo_penta {
                    transform: scale(.7);
                }
            }
            #mobiline {
                margin-bottom: 0;
                .logo_penta {
                    transform: scale(.7);
                }
            }
            #carpincruz {
                margin-bottom: 0;
                .logo_penta {
                    transform: scale(.7);
                }
            }
            #yeso {
                margin-bottom: 50px;
                .logo_penta {
                    transform: scale(.7);
                }
            }
        }
    }
}