//VARIABLES

//COLORS
$color-1: #2f2d2d;
$color-2: #FEF6ED;
$color-3: white;
$color-4: #FEF2D4;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

//FONT SIZE

//PADDING
$padding-top: 100px;
$padding-bottom: 100px;

//OTHER

//STYLES

#page_container {
    #servicios_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-2;

        .titulo_servicios {            
            padding-top: 50px;
            width: 80%;
            text-align: center;
            font-family: $font-1;
            font-size: 4em;
            color: $color-1;
        }
        .servicios {
            width: 80%;
            min-height: 400px;
            margin-top: 75px;
            margin-bottom: 20px;            
            .descripcion_servicios {
                width: 100%;
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text {
                    width: 45%;
                    height: 100%;                    
                    display: flex;
                    flex-direction: column;
                    padding: 50px 0 50px 0;
                    p {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: $color-1;
                        font-family: $font-1;
                    }
                    h1 {
                        font-family: $font-1;
                        font-size: 3em;
                        color: $color-1;                
                    }
                }
                
                .imagen {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    overflow: hidden;                    
                    border-radius: 10px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        #insumos {
            padding-bottom: 50px;
        }
    }
    .penta_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        margin: 0px 0 25px 0;
        background-color: $color-1;
        .penta {
            width: 80%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
            background-color: $color-2;
            .descripcion_penta {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h2 {
                    font-family: $font-1;
                }
                p {
                    font-family: $font-1;
                    font-size: .8em;
                }
                a {
                    font-family: $font-1;
                    margin-top: 10px;
                    color: $color-1;
                }
            }
            .logo_penta {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (max-width: 1760px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {
            }
            .servicios {
                .descripcion_servicios {
                    .text {
                        p {
                        }
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    
                    .imagen {
                        img {
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            .penta {                
                .descripcion_penta {
                    h2 {                        
                    }
                    p {                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 

@media screen and (max-width: 1580px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {
                width: 90%;
            }
            .servicios {
                width: 90%;
                margin-top: 10px;
                .descripcion_servicios {
                    .text {
                        p {
                        }
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    
                    .imagen {
                        img {
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            .penta {                
                .descripcion_penta {
                    h2 {                        
                    }
                    p {                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 

@media screen and (max-width: 1240px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {                
            }
            .servicios {
                margin-top: 0;
                .descripcion_servicios {
                    .text {
                        p {
                        }
                        h1 {
                            font-size: 2em;
                        }
                    }
                    
                    .imagen {
                        img {
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            .penta {                
                .descripcion_penta {
                    h2 {                        
                    }
                    p {                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 

@media screen and (max-width: 1200px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {
                font-size: 4em;                
            }
            .servicios {
                margin-top: 0;
                .descripcion_servicios {
                    flex-direction: column;
                    height: 700px;
                    .text {
                        width: 90%;
                        height: 55%;
                        padding: 50px 0 5px 0;
                        justify-content: space-around;
                        p {
                            height: 60%;
                        }
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    
                    .imagen {
                        width: 100%;
                        justify-content: center;
                        img {
                            width: 90%;
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            .penta {                
                .descripcion_penta {
                    h2 {                        
                    }
                    p {                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 

@media screen and (max-width: 900px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {
                font-size: 4em;                
            }
            .servicios {
                margin-top: 0;
                .descripcion_servicios {
                    flex-direction: column;
                    height: 700px;
                    .text {
                        width: 90%;
                        height: 55%;
                        padding: 50px 0 5px 0;
                        justify-content: space-around;
                        p {
                            height: 60%;
                        }
                        h1 {
                            font-size: 2.5em;
                        }
                    }
                    
                    .imagen {
                        width: 100%;
                        justify-content: center;
                        img {
                            width: 90%;
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            .penta {                
                .descripcion_penta {
                    width: 60%;
                    h2 {
                        font-size: 1.2em;                        
                    }
                    p {
                        font-size: .6em;                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 

@media screen and (max-width: 750px) {
    #page_container {
        #servicios_wrapper {
            .titulo_servicios {
                padding-top: 20px;
                font-size: 1.7em;                
            }
            .servicios {
                margin-top: 0;
                margin-bottom: 0;
                .descripcion_servicios {
                    flex-direction: column;
                    height: 400px;
                    .text {
                        width: 90%;
                        height: 50%;
                        padding: 25px 0 5px 0;
                        justify-content: space-around;
                        p {
                            height: 70%;
                            font-size: .8em;
                        }
                        h1 {
                            font-size: 1.2em;
                        }
                    }
                    
                    .imagen {
                        width: 100%;
                        height: 50%;
                        justify-content: center;
                        img {
                            width: 90%;
                        }
                    }
                }
            }
            #insumos {
            }
        }
        .penta_container {
            margin: 0;
            .penta {                
                .descripcion_penta {
                    width: 60%;
                    h2 {
                        font-size: 1em;                        
                    }
                    p {
                        font-size: .5em;                    
                    }
                    a {                        
                    }
                }
                .logo_penta {

                }
            }
        }
    }
    
} 
